.about {
  padding-top: 14px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 46px;
    border-bottom: 1px solid $grey-190;
  }

  @media (min-width: $desktop-width) {
    padding-top: 36px;
    padding-bottom: 34px;
    border: none;
  }
}

.about__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 37px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    justify-content: flex-start;
  }
}

.about__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $grey-600;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: $green-100;
  }

  @media (min-width: $tablet-width) {
    display: block;
    min-height: 280px;
    padding-top: 152px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }

    &--healthy {
      width: 230px;
    }

    &--easy {
      width: 245px;
      margin-right: 79px;
    }

    &--economical {
      width: 248px;
    }

    &--fast {
      width: 249px;
      margin-right: 75px;
    }
  }

  @media (min-width: $desktop-width) {
    &--healthy {
      margin-right: 93px;
    }

    &--easy {
      margin-right: 78px;
    }

    &--economical {
      margin-right: 77px;
    }

    &--fast {
      margin-right: 0;
    }
  }
}

.about__icon {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    top: 80px;
    left: 40px;
  }
}

.about__number {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 40px;
    background-repeat: no-repeat;
    z-index: -1;

    &--healthy {
      right: 33px;
    }

    &--easy {
      top: 38px;
      right: 10px;
    }

    &--economical {
      top: 38px;
      right: 11px;
    }

    &--fast {
      right: 4px;
    }
  }
}

.about__transfer {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
