.about {
  padding-top: 14px;
  padding-bottom: 42px;
}

.about__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0 30px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.about__list {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 37px;
    padding-left: 0;
  }
}

.about__item {
  margin-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $grey-600;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-bottom: 0;
  }
}
