.additional-block__title {
  width: 184px;
  margin-left: -20px;
  margin-bottom: 34px;
  padding-left: 20px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    margin-top: 15px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $green-100;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    width: 291px;
    margin-left: -40px;
    margin-bottom: 57px;
    padding-left: 40px;

    &::after {
      margin-top: 22px;
    }
  }
}

.additional-block__list {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 32px 123px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
    gap: 42px 104px;
  }
}

.additional-block__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 221px;
    margin-bottom: 0;
  }
}
