.additional {
  padding-top: 25px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-bottom: 86px;
  }
}

.additional__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.additional__title {
  width: 266px;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 36px;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  background-color: $white;
  color: $black;

  &::after {
    content: "";
    position: absolute;
    margin-top: 15px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $green-100;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    width: 410px;
    padding-left: 36px;
    margin-left: 0;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      margin-top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 81px;
    width: 413px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 35px;
  }
}

.additional__list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 896px;
  }
}

.additional__item {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.additional__button {
  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.additional__gift {
  height: 289px;
  padding-top: 58px;
  text-align: center;
  background-image: url("../img/gift-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding-top: 0;
    padding-right: 124px;
    padding-left: 78px;
    text-align: left;
    background-image: url("../img/gift-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 290px;
    width: 245px;
    padding-top: 185px;
    padding-left: 43px;
    padding-right: 41px;
    text-align: center;
    background-image: url("../img/gift-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-desktop@2x.jpg");
    }
  }
}

.additional__details {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
  }
}

.additional__icon {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    width: 80px;
    height: 83px;
  }
}
