.additional-block {
  position: relative;
}

.additional-block__title {
  margin-bottom: 34px;
  padding-left: 20px;
  padding-right: 23px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $green-100;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-bottom: 57px;
    padding-left: 40px;
    padding-right: 41px;

    &::after {
      top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    padding-right: 41px;

    &::after {
      top: 23px;
    }
  }
}

.additional-block__list {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    gap: 32px 123px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
    gap: 42px 104px;
  }
}

.additional-block__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 221px;
    margin-bottom: 0;
  }
}
