.additional-block__title {
  margin-bottom: 34px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 23px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    margin-bottom: 58px;
    padding-left: 40px;
    padding-right: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    padding-right: 41px;
  }
}

.additional-block__list {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px 123px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
    gap: 42px 104px;
  }
}

.additional-block__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 221px;
    margin-bottom: 0;
  }
}
