.contacts {
  padding-top: 28px;

  &--grey {
    background-color: $grey-100;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 0;
  }
}

.contacts__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0 65px 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.contacts__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 62px 89px 59px 76px;
    width: 570px;
    background-color: $white;
  }
}

.contacts__info {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-800;
}

.contacts__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $grey-600;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  margin-bottom: -2px;
  width: 100%;
  height: 362px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
