.example {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: $grey-160;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($white 50%, $grey-160 50%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($white 200px, $grey-160 200px);
  }
}

.example__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0 30px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.example__details {
  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    padding-top: 58px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $grey-600;
}

.example__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.example__stats-item {
  padding-top: 14px;
  width: 124px;
  height: 56px;
  text-align: center;
  border: 1px solid $grey-350;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-right: 42px;
  }
}

.example__stats-number {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.example__stats-description {
  margin: 0 auto;
  width: 82px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $grey-160;
  color: $grey-600;

  @media (min-width: $tablet-width) {
    background-color: $white;
    width: 120px;
  }
}

.example__info {
  margin: 0;
  margin-bottom: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 0;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    width: 708px;
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 656px;
  }
}
