.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-600;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  width: 100%;
  margin-left: 14px;
  padding: 13px 5px 14px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-600;
  border: 1px solid $grey-200;

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $grey-600;
  }

  &:hover {
    border: 1px solid $grey-350;
  }

  &:focus {
    border: 2px solid $grey-600;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 5px 10px 20px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
