.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-600;
  max-width: 50%;

  &--email {
    min-width: 50px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--email {
      min-width: 63px;
    }
  }
}

.field__input {
  width: 100%;
  margin-left: 14px;
  padding: 16px 5px 13px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-600;
  border: 1px solid $grey-200;

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $grey-600;
    opacity: 1;
  }

  &:hover {
    border: 1px solid $grey-350;
  }

  &:required:placeholder-shown:hover {
    box-shadow: 0 0 0 1px $grey-350;
  }

  &:focus,
  &:required:placeholder-shown:focus {
    outline: none;
    border-color: $grey-600;
    box-shadow: 0 0 0 1px $grey-600 inset;
  }

  &:invalid:required {
    border-color: $red;
    box-shadow: 0 0 0 1px $red inset;
  }

  &:invalid:required:focus {
    border-color: $grey-600;
    box-shadow: 0 0 0 1px $grey-600 inset;
  }

  &:required:placeholder-shown {
    border-color: transparent;
    box-shadow: 0 0 0 1px $grey-200;
  }

  &:invalid + .field__icon {
    stroke: $red;
  }

  &:invalid:placeholder-shown + .field__icon {
    stroke: $grey-700;
  }

  &:placeholder-shown:focus + .field__icon {
    stroke: $green-100;
  }

  @media (max-width: $mobile-width-only) {
    height: 45px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    padding: 10px 5px 10px 19px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.field__icon {
  position: absolute;
  right: 14px;

  &--email {
    fill: none;
    stroke: $grey-700;
  }

  &--phone {
    fill: $grey-700;
  }

  @media (min-width: $tablet-width) {
    right: 16px;
  }

  @media (min-width: $desktop-width) {
    &--email {
      right: 18px;
    }

    &--phone {
      right: 16px;
    }
  }
}
