.form__block {
  margin: 0;
  padding: 0;
  border: none;
}

.form__inner {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 18px;
  padding: 10px 5px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin-right: 61px;
    margin-bottom: 0;
    padding: 16px 10px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.form__note {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black;

  @media (min-width: $tablet-width) {
    max-width: 45%;
    font-size: 16px;
    text-align: left;
  }
}

.form__container {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 67px;
  }
}

.form__line {
  top: 17px;

  &--owner {
    top: 19px;
  }

  @media (min-width: $tablet-width) {
    top: 24px;
  }

  @media (min-width: $desktop-width) {
    &--additional {
      top: 26px;
    }
  }
}
