.intro {
  padding-top: 27px;
  padding-bottom: 11px;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 302px;
      background-image: linear-gradient($green-100-opacity-085, $green-100-opacity-085), url("../img/cat-with-tongue.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient($green-100-opacity-085, $green-100-opacity-085), url("../img/cat-with-tongue@2x.jpg");
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
    padding-bottom: 206px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      background-image: linear-gradient($green-100-opacity-085, $green-100-opacity-085), url("../img/cat-with-tongue-to-right.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient($green-100-opacity-085, $green-100-opacity-085), url("../img/cat-with-tongue-to-right@2x.jpg");
      }
    }
  }
}

.intro__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 30px 0 117px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px 0 190px;
  }
}

.intro__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }
}

.intro__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}

.intro__button {
  display: block;
  padding-top: 12px;
  padding-bottom: 11px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 20px;
  }
}

.intro__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 708px;
    height: auto;
    top: 201px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: -80px;
    left: 58%;
    z-index: 0;
  }
}
