.intro {
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 200px;
  }
}

.intro__inner {
  height: 302px;
  background-image: linear-gradient($green-100-opacity-085, $green-100-opacity-085),
    url("../img/cat-with-tongue.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 50%;
    height: 694px;
    position: absolute;
    transform: translateX(100%);
    z-index: -1;
    margin-top: -205px;
  }
}

.intro__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: -280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
    max-width: 768px;
    padding: 0 30px;
    margin-top: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.intro__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-top: 62px;
    margin-bottom: 41px;
    margin-left: 87px;
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-top: 111px;
  }
}

.intro__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-left: 87px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}

.intro__button {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin-left: 87px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 20px;
  }
}

.intro__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
    top: 10%;
  }
}
