.message {
  padding: 9px 10px 0 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-600;
  border: 1px solid $grey-200;
  resize: none;

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $grey-600;
  }

  &:hover {
    border: 1px solid $grey-350;
  }

  &:focus {
    border: 2px solid $grey-600;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 10px 0 18px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
