.owner-block__title {
  width: 221px;
  margin-left: -20px;
  margin-bottom: 34px;
  padding-left: 20px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    margin-top: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $green-100;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    width: 592px;
    margin-left: -40px;
    margin-bottom: 76px;
    padding-left: 40px;

    &::after {
      margin-top: 22px;
    }
  }
}

.owner-block__list {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 69px;
  }
}

.owner-block__item {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 65px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.owner-block__input {
  margin-left: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  position: relative;

  &:focus + .owner-block__icon {
    stroke: $green-100;
  }

  @media (min-width: $tablet-width) {
    padding-right: 50px;
  }
}

.owner-block__icon {
  position: absolute;
  right: 34px;

  &--email {
    fill: none;
    stroke: $grey-700;
  }

  &--phone {
    fill: $grey-700;
  }
}
