.owner-block {
  border-top: 2px solid $green-100;
}

.owner-block__title {
  margin-bottom: 35px;
  margin-right: 79px;
}

.owner-block__list {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.owner-block__item {
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    width: 570px;
  }

  &:last-child {
    margin-bottom: 23px;
  }
}

.owner-block__input {
  padding-right: 40px;
}
