.page-header {
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.page-header__menu {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  padding-right: 33px;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      border-bottom: 1px solid $grey-190;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-right: 0;
    justify-content: space-between;
  }
}

.page-header__logo-image {
  display: block;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo-icon {
  display: block;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

.page-header__logo-name {
  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
