.page-header {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.page-header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 174px;
  }
}

.main-nav__list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.main-nav__item {
  border-top: 1px solid $grey-190;

  &:last-child {
    border-bottom: 1px solid $grey-190;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__link {
  display: block;
  padding: 22px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--main {
      color: $white;
    }
  }
}

.page-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
