.page-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: $grey-100;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 32px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__inner {
  padding: 20px 0;
  border-top: 1px solid $grey-250;
  border-bottom: 1px solid $grey-250;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.page-footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.page-footer__link {
  fill: $grey-500;

  &--facebook {
    stroke: $grey-500;

    &:hover,
    &:focus {
      stroke: $green-100;
    }
  }

  &:hover,
  &:focus {
    fill: $green-100;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright-footer__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $grey-600;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.copyright-footer__icon {
  fill: $grey-500;

  &:hover,
  &:focus {
    fill: $green-100;
  }

  &:active {
    opacity: 0.3;
  }
}
