.program {
  padding-top: 27px;
  padding-bottom: 32px;
}

.program__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0 65px 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.program__title {
  margin: 0;
  margin-bottom: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
}

.program__text {
  margin: 0;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}
