.slider__content {
  width: 280px;
  height: 232px;
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 520px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.slider__slide {
  position: absolute;
  width: 100%;
  height: 100%;

  &--before {
    display: none;
    background-image: url("../img/cat-fat-mobile.png");
    background-repeat: no-repeat;
    background-position: -20px 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-fat-mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      height: 520px;
      background-image: url("../img/cat-fat-tablet.png");
      background-position: 16px 0;
      background-size: contain;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cat-fat-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      background-position: 40px 2px;
    }

    &--clip {
      @media (min-width: $tablet-width) {
        width: 50%;
        background-size: cover;
      }

      @media (min-width: $desktop-width) {
        width: 57%;
      }
    }
  }

  &--after {
    display: none;
    background-image: url("../img/cat-skinny-mobile.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-skinny-mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      height: 520px;
      background-image: url("../img/cat-skinny-tablet.png");
      background-position: 107px 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cat-skinny-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      background-position: 131px 1px;
    }

    &--clip {
      @media (min-width: $tablet-width) {
        display: block;
        clip: rect(auto, auto, auto, 354px);
      }

      @media (min-width: $desktop-width) {
        clip: rect(auto, auto, auto, 403px);
      }
    }
  }

  &--active {
    display: block;
    clip: auto;
  }
}

.slider__controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}

.slider__button {
  padding: 0;
  max-width: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: inherit;
  border: none;
  cursor: pointer;

  &--before {
    margin-right: 17px;
  }

  &--after {
    margin-left: 17px;
  }

  @media (min-width: $tablet-width) {
    max-width: 115px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $black-opacity-04;

    &--before {
      margin-right: 25px;
    }

    &--after {
      margin-left: 20px;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid $black-opacity-04;
    }

    &:active {
      border-color: transparent;
    }
  }
}

.slider__scale {
  min-width: 84px;
  height: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: $white;
  border: 1px solid $grey-350;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    min-width: 428px;
    height: 6px;
    padding: 0;
    background-color: $grey-230;
    border: none;
  }
}

.slider__bar {
  width: 50%;
  height: 6px;
  background-color: $green-100;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggle {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 8px;
    height: 8px;
    background-color: $green-100;
    border: 13px solid $white;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(0 1px 3px $black-opacity-016);

    &:hover,
    &:focus {
      filter: drop-shadow(0 2px 4px $black-opacity-019);
    }

    &:active {
      filter: drop-shadow(0 3px 5px $black-opacity-02);
      box-shadow: 0 0 0 1px $green-100;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 57px;
  }
}
