.slider__content {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
}

.slider__slide {
  height: 232px;

  &--before {
    background-image: url("../img/before.png");
    background-repeat: no-repeat;
    background-position: left center;
  }

  &--after {
    display: none;
    background-image: url("../img/after.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 228px;
  height: 40px;
}

.slider__button {
  padding: 10px 0;
  min-width: 70px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.slider__scale {
  width: 84px;
  height: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: $white;
  border: 1px solid $grey-350;
  border-radius: 6px;
}

.slider__bar {
  width: 50%;
  height: 6px;
  background-color: $green-100;
  border-radius: 6px;
}
