.slider__content {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
}

.slider__slide {
  height: 232px;

  &--before {
    background-image: url("../img/before.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--after {
    display: none;
    background-image: url("../img/after.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.slider__controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 228px;
  height: 40px;

  @media (min-width: $tablet-width) {
    width: 590px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: auto;
  }
}

.slider__button {
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: inherit;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $black-opacity-04;

    &:hover,
    &:focus {
      border-bottom: 1px solid $black-opacity-04;
    }

    &:active {
      border: none;
    }
  }
}

.slider__scale {
  width: 84px;
  height: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: $white;
  border: 1px solid $grey-350;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    padding: 0;
    background-color: $grey-230;
    border: none;
  }
}

.slider__bar {
  width: 50%;
  height: 6px;
  background-color: $green-100;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggle {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 3px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: $green-100;
    border: 13px solid $white;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(0 1px 3px $black-opacity-016);

    &:hover,
    &:focus {
      filter: drop-shadow(0 2px 4px $black-opacity-019);
    }

    &:active {
      filter: drop-shadow(0 3px 5px $black-opacity-02);
      box-shadow: 0 0 0 1px $green-100;
    }
  }
}
