.target-block {
  position: relative;
  padding-top: 23px;
  padding-bottom: 19px;

  @media (max-width: $mobile-width-only) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -20px;
      right: -20px;
      height: 1px;
      min-width: 320px;
      background-color: $grey-250;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid $grey-200;
  }
}

.target-block__list {
  @media (min-width: $tablet-width) {
    padding-left: 28px;
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.target-block__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}
